Deliverables



1. A report (in the form of a presentation, both verbal and through a slides)


2. A github repository containing your jupyter notebook that walks through the pipeline along with the .py files necessary to reproduce your model.

In [26]:
import wrangle
import pandas as pd
import numpy as np

In [27]:
#use wrangle.py to import data from mySQL
df =wrangle.get_data_from_sql()

In [28]:
# check DF head
df.head()

,bathrooms,bedrooms,square_feet,fips,lot_size,pool,zip_code,year_built,assessed_value,tax_value,transaction_date
0,2.0,3.0,1458.0,6037.0,8284.0,1.0,97318.0,1970.0,136104.0,2319.90,2017-06-23
1,1.0,2.0,1421.0,6037.0,6707.0,NaN,96018.0,1911.0,35606.0,543.69,2017-06-30
2,3.0,4.0,2541.0,6059.0,4975.0,NaN,96958.0,2003.0,880456.0,9819.72,2017-06-01
3,2.0,3.0,1650.0,6037.0,7300.0,NaN,96037.0,1949.0,614000.0,7673.19,2017-06-01
4,1.0,2.0,693.0,6037.0,2908.0,NaN,96023.0,1921.0,274237.0,3267.47,2017-06-29

In [29]:
# check DF tail
df.tail()

,bathrooms,bedrooms,square_feet,fips,lot_size,pool,zip_code,year_built,assessed_value,tax_value,transaction_date
14985,3.0,5.0,2526.0,6059.0,7800.0,1.0,97018.0,1994.0,458903.0,5718.72,2017-06-30
14986,3.0,5.0,2735.0,6059.0,7100.0,1.0,97067.0,1963.0,115387.0,1465.88,2017-06-30
14987,2.0,3.0,1536.0,6037.0,8818.0,1.0,96523.0,1955.0,297097.0,3519.78,2017-06-30
14988,3.0,5.0,2655.0,6059.0,6000.0,NaN,97065.0,1994.0,746963.0,8065.50,2017-06-30
14989,3.0,4.0,2305.0,6037.0,5742.0,NaN,96129.0,1949.0,579047.0,6996.21,2017-06-30

In [30]:
# there are null values in lot_size, pool, zip_code, year_built and tax-value
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14990 entries, 0 to 14989
Data columns (total 11 columns):
bathrooms           14990 non-null float64
bedrooms            14990 non-null float64
square_feet         14990 non-null float64
fips                14990 non-null float64
lot_size            14893 non-null float64
pool                3287 non-null float64
zip_code            14982 non-null float64
year_built          14974 non-null float64
assessed_value      14990 non-null float64
tax_value           14989 non-null float64
transaction_date    14990 non-null object
dtypes: float64(10), object(1)
memory usage: 1.3+ MB

In [31]:
df.tax_value.isnull().sum()

1

In [32]:
df = df.dropna(subset=['lot_size', 'year_built', 'tax_value', 'zip_code'])

In [35]:
df.fillna(0, inplace = True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14873 entries, 0 to 14989
Data columns (total 11 columns):
bathrooms           14873 non-null float64
bedrooms            14873 non-null float64
square_feet         14873 non-null float64
fips                14873 non-null float64
lot_size            14873 non-null float64
pool                14873 non-null float64
zip_code            14873 non-null float64
year_built          14873 non-null float64
assessed_value      14873 non-null float64
tax_value           14873 non-null float64
transaction_date    14873 non-null object
dtypes: float64(10), object(1)
memory usage: 1.4+ MB

In [39]:
df.head(50)

,bathrooms,bedrooms,square_feet,fips,lot_size,pool,zip_code,year_built,assessed_value,tax_value,transaction_date
0,2.0,3.0,1458.0,6037.0,8284.0,1.0,97318.0,1970.0,136104.0,2319.90,2017-06-23
1,1.0,2.0,1421.0,6037.0,6707.0,0.0,96018.0,1911.0,35606.0,543.69,2017-06-30
2,3.0,4.0,2541.0,6059.0,4975.0,0.0,96958.0,2003.0,880456.0,9819.72,2017-06-01
3,2.0,3.0,1650.0,6037.0,7300.0,0.0,96037.0,1949.0,614000.0,7673.19,2017-06-01
4,1.0,2.0,693.0,6037.0,2908.0,0.0,96023.0,1921.0,274237.0,3267.47,2017-06-29
5,2.0,3.0,1668.0,6059.0,6774.0,0.0,97064.0,1976.0,196483.0,2376.34,2017-05-19
6,2.5,3.0,1653.0,6059.0,3090.0,0.0,96989.0,1992.0,605000.0,6185.28,2017-05-01
7,1.0,3.0,879.0,6059.0,6000.0,0.0,97048.0,1953.0,141875.0,2015.78,2017-05-18
8,2.0,3.0,1108.0,6037.0,6050.0,0.0,96047.0,1953.0,486866.0,5990.50,2017-05-17
9,2.0,3.0,1947.0,6037.0,6404.0,1.0,96246.0,1923.0,388478.0,4784.07,2017-05-11
10,1.0,2.0,1061.0,6037.0,4800.0,0.0,96024.0,1923.0,31839.0,412.48,2017-06-02
11,2.0,3.0,1632.0,6037.0,6040.0,0.0,96489.0,1970.0,499402.0,5921.67,2017-06-29
12,3.0,3.0,2768.0,6037.0,34309.0,1.0,96366.0,1951.0,151340.0,2373.63,2017-05-31
13,3.0,3.0,2392.0,6037.0,7452.0,1.0,96321.0,1963.0,845708.0,9310.38,2017-06-30
14,2.0,3.0,1088.0,6037.0,12355.0,0.0,97329.0,1955.0,130679.0,2228.31,2017-06-14
15,2.0,3.0,1191.0,6037.0,941333.0,0.0,97318.0,1935.0,164685.0,2169.02,2017-05-22
16,2.0,3.0,1358.0,6037.0,7984.0,0.0,97318.0,1991.0,168626.0,3107.95,2017-06-01
17,3.0,4.0,2291.0,6037.0,6458.0,1.0,96506.0,1980.0,397616.0,5284.09,2017-06-09
18,2.0,3.0,1050.0,6037.0,5927.0,0.0,96488.0,1960.0,259334.0,3345.78,2017-05-25
19,2.0,4.0,1485.0,6059.0,8001.0,0.0,97024.0,1959.0,63338.0,974.90,2017-06-30
20,2.0,3.0,1569.0,6037.0,5250.0,0.0,96242.0,1954.0,73054.0,1206.40,2017-06-15
21,2.0,3.0,1285.0,6037.0,6840.0,1.0,96190.0,1954.0,82374.0,1315.15,2017-05-31
22,1.0,3.0,1260.0,6037.0,6640.0,0.0,96327.0,1923.0,466127.0,5151.64,2017-06-15
23,1.0,3.0,1102.0,6037.0,7301.0,0.0,96450.0,1955.0,206623.0,2601.94,2017-06-01
24,3.0,3.0,1572.0,6037.0,7764.0,1.0,96369.0,1961.0,404060.0,4934.43,2017-05-01
25,3.0,4.0,3041.0,6037.0,5201.0,0.0,96117.0,1949.0,245311.0,2963.65,2017-05-01
26,2.0,3.0,1692.0,6037.0,5968.0,0.0,95985.0,1923.0,649169.0,8063.11,2017-05-01
27,2.0,4.0,1611.0,6037.0,7240.0,1.0,96369.0,1956.0,89640.0,1144.73,2017-05-01
28,2.0,2.0,1078.0,6037.0,7202.0,0.0,97328.0,1985.0,124006.0,2290.48,2017-05-01
29,2.0,3.0,1476.0,6037.0,5901.0,0.0,96239.0,1948.0,58143.0,881.04,2017-05-01
30,1.0,2.0,1387.0,6059.0,5775.0,0.0,96186.0,1951.0,280967.0,3401.88,2017-05-01
31,2.0,3.0,1426.0,6059.0,6360.0,0.0,97003.0,1955.0,364081.0,4409.28,2017-05-01
32,3.0,3.0,1732.0,6037.0,10852.0,0.0,97328.0,1986.0,174459.0,3028.09,2017-05-01
33,2.0,4.0,1622.0,6037.0,4992.0,0.0,96213.0,1951.0,300777.0,3912.97,2017-05-01
34,1.5,3.0,1122.0,6059.0,858.0,0.0,96964.0,1963.0,199838.0,2418.90,2017-05-01
35,1.5,3.0,1125.0,6059.0,7920.0,0.0,97023.0,1955.0,84341.0,1195.28,2017-05-01
36,3.5,4.0,3137.0,6059.0,7475.0,0.0,96989.0,1989.0,600238.0,6131.32,2017-05-01
37,2.5,5.0,2531.0,6059.0,5350.0,0.0,97016.0,1968.0,122618.0,1694.88,2017-05-01
38,1.0,3.0,1448.0,6037.0,8040.0,0.0,96375.0,1948.0,352291.0,4275.09,2017-05-01
39,2.0,4.0,1560.0,6059.0,8370.0,0.0,97043.0,1963.0,311209.0,3729.48,2017-05-01
40,2.0,4.0,1344.0,6037.0,9291.0,0.0,96410.0,1949.0,85677.0,1104.82,2017-05-01
41,1.0,3.0,1122.0,6037.0,5202.0,1.0,96213.0,1950.0,444000.0,5548.73,2017-05-01
42,2.0,2.0,1445.0,6037.0,6398.0,1.0,96190.0,1959.0,529000.0,6692.25,2017-05-01
43,3.5,4.0,3259.0,6059.0,6450.0,0.0,96996.0,1992.0,901542.0,8724.30,2017-05-01
44,6.0,5.0,3540.0,6037.0,2435.0,0.0,96109.0,1953.0,8000000.0,83955.53,2017-05-01
45,1.0,3.0,1335.0,6059.0,6250.0,0.0,97007.0,1950.0,63192.0,1049.18,2017-05-01
46,2.0,4.0,1914.0,6059.0,7000.0,1.0,96964.0,1963.0,414743.0,4729.32,2017-05-01
47,4.0,3.0,3324.0,6059.0,5800.0,0.0,97043.0,1998.0,709615.0,7957.48,2017-05-01
48,3.0,4.0,2610.0,6037.0,8969.0,0.0,96492.0,1995.0,710674.0,8752.83,2017-05-01
49,1.0,2.0,987.0,6059.0,7350.0,0.0,97006.0,1937.0,357144.0,4253.64,2017-05-01